
$indent: 10vw;

/*about page*/
.about-1{
  background: #F9F9F9;
  width:100%;
  padding:100px $indent;
  .about-1-content{
    max-width: 700px;
  }
}
.about-2{
  width: 100%;
  background:linear-gradient(#F9F9F9 49%, white 50%);
  display: flex;
  justify-content: flex-end;
  .team-photo{
    width:1000px;
    object-fit: cover;
  }
  .team-photo-mobile{
    display: none;
  }
  @media screen and (max-width:550px){
    .team-photo-mobile{
      display:block;
    }
    .team-photo-desktop{
      display: none;
    }
  }
}
.about-3{
  width:100%;
  padding:100px $indent 100px;
  .about-3-content{
    max-width: 700px;
  }
}