
$indent: 10vw;
$popsicle: linear-gradient(90deg, rgba(150,6,209,1) 0%, rgba(209,56,223,1) 16%, rgb(92, 55, 194) 47%, rgb(29, 15, 231) 60%, rgba(72,199,241,1) 100%);

.contact-hero{
  height:428px;
  width:100%;
  background: url(../../images/contact-hero.jpg);
  background-position: 40% center;
  background-size: cover;
}

.contact-content{
  height:800px;
  width:100%;
}

.contact-footer-photo{
  height:500px;
  width:100%;
  background: $popsicle;
}

/*contact form*/
.form-group{
  margin:30px 0px;
}
.form-control{
  width:100%;
  font-family: 'montserrat';
  font-size: 12px;
line-height: 15px;
padding:17px;
border:1px solid black;
}
input{
  color:black;
  font-weight: 600;
}
input:focus, button:focus, textarea:focus{
  outline: none;
}
.contactFormWrapper{
  width:525px;
  max-width:80vw;
  margin:auto;
  padding-bottom:40px;
}
::placeholder{
  color:black;
  font-weight:600;
  opacity: 1;
}
textarea{
  resize:none;
}
.disclaimer{
  font-family: 'Montserrat';
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 12px;
margin-bottom: 8px;
}
.disclaimerHeading{
  margin-bottom: 2px;
}
.iUnderstand{
  font-size:14px;
  margin-left:5px;
}
.submit{
  margin-top:10px;
}
