
$indent: 10vw;
$popsicle: linear-gradient(90deg, rgba(150,6,209,1) 0%, rgba(209,56,223,1) 16%, rgb(92, 55, 194) 47%, rgb(29, 15, 231) 60%, rgba(72,199,241,1) 100%);

.contact-hero{
  height:428px;
  width:100%;
  background: url(../../images/contact-hero.jpg);
  background-position: 40% center;
  background-size: cover;
}

.mauto{
  max-width: 1200px;
}

.contact-content{
  width:100%;
  display: flex;
  padding:100px $indent;
  .contact-info{
    width:30%;
  }
  .contact-form{
    width:70%;
  }
  @media screen and (max-width:900px){
    flex-direction: column;
    .contact-form{
      width:100%;
    }
    .contact-info{
      width:100%;
    }
  }
}
@media screen and (max-width:900px){
.officesHeader{
  margin-left:20px;
  }
  .saskatoon-info{
    order:1;
  }
  .saskatoon{
    order:2;
  }
  .watrous-info{
    order:3;
  }
  .watrous{
    order:4;
  }

}
.contact-footer-map-wrapper{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  
  .contact-footer-map{
    border:0;
    height:500px;
    width:100%;
    margin-bottom:0px;
  }
  @media screen and (max-width:900px){
    display: flex;
    flex-direction: column;
    margin:20px;
    .contact-footer-map{
      width: 100%;
    }
  }
}
.form-group{
  margin:30px 0px;
}
.form-group-2 {
  display: flex;
  justify-content: space-between;
  input{
    width:48%;
  }
}
.form-control{
  width:100%;
  font-family: 'montserrat';
  font-size: 12px;
line-height: 15px;
padding:17px;
background: #F9F9F9;
border:0;
}
input{
  color:black;
  font-weight: 400;
}
input:focus, button:focus, textarea:focus{
  outline: none;
}
::placeholder{
  color:#3E4049;
  font-weight:400;
  opacity: 1;
}
.form-message{
  height:150px;
}
textarea{
  resize:none;
}
.disclaimer{
  font-family: 'Montserrat';
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 12px;
margin-bottom: 8px;
}
.disclaimerHeading{
  margin-bottom: 2px;
}
.iUnderstand{
  font-size:14px;
  margin-left:5px;
}
.submit{
  margin-top:10px;
  display:flex;
  justify-content: flex-end;
  @media screen and (max-width:500px) {
    margin-top:30px;
    justify-content: center;
  }
}
