$indent: 10vw;
$red:#A60000;

.expertise-header{
  padding:100px $indent;
  background: #F9F9F9;
  display: flex;
  @media screen and (max-width:1000px) {
    flex-direction: column;
  }
  .our-expertise-headlines{
    max-width: 600px;
    margin-right:50px;
  }
  .our-expertise-header-paragraph{
    max-width: 400px;
  }
}
.accordianWrapper{
  margin:20px $indent;
  background: #F9F9F9;
  h1, h2{
    font-size:20px;
    color: $red;
    margin-bottom: 0px;
    font-weight: 600;
  }
  .accordianHeader{
    display: flex;
    justify-content: space-between;
    padding:20px 75px;
    .expand, .contract{
      cursor: pointer;
      font-size:20px;
      font-weight: 600;
      margin-bottom:0px;
      color: $red;
      transition: transform .1s ease-out;
    }
    .expand{
      transform: rotate(45deg);
    }
  }
  .accordianContent{
    padding:20px 75px;
    h2{
      margin-top:40px;
      margin-bottom: 20px;
    }
    li{
      font-family: 'montserrat';
      color: $red;
      font-weight: 400;
    }
  }
}
